<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <!--<ion-item>-->
      <ion-icon item-left name="home"></ion-icon>
      Home
      <!--</ion-item> -->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let data of datas">
      <ul>
        <li>{{data.date}}</li>
        <li>
          <ul>
            <li *ngFor="let time of data.production_date_time">
              {{time.time_period}}
              <p *ngFor="let em of time.production_em_performance">
                {{em.weight}}
              </p>
        </li>
        </ul>
        </li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>