page-repair-invoice-request-edit {
    .repair-image{
        width:150px;
        height:150px;
    }
    ion-textarea{
        height:15vh;
        textarea{
            height: 15vh !important;
        }
    }
}
